#whyus{
    width: 100%;
    padding: 80px 30px;
    background-color: black;
    color: white;
}
#whyus .wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.whyus-heading{
    text-align: center;
}
.whyus-heading h1{
    font-size: 60px;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
}
.whyus-heading p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    opacity: 0.7;
}
.whyus-cards{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    color: black;
    user-select: none;
    justify-content: center;
}
.whyus-card{
    width: 100%;
    max-width: 350px;
    min-height: 400px;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.5s;
}
.whyus-card:hover{
    transform: translateY(-3px);
}
.whyus-card.card0,
.whyus-card.card3{
    background-image: url('../../../assets/bg1.jpeg');
}
.whyus-card.card1,
.whyus-card.card4{
    background-image: url('../../../assets/bg2.jpeg');
}
.whyus-card.card2{
    background-image: url('../../../assets/bg3.jpeg');
}
.whyus-card h3{
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    padding: 15px 0px;
    border-bottom: 1px solid black;
}
.whyus-card p{
    font-size: 16px;
    font-weight: 500;
}
.whyus-card button{
    height: 40px;
    background-color: red;
    border: none;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    color: white;
    border-radius: 20px;
}
.whyus-card button:hover{
    background-color: transparent;
    border: 1.2px solid black;
    color: black;
}
@media screen and (max-width: 800px) {
    .whyus-heading h1{
        font-size: 40px;
    }
    .whyus-heading p{
        font-size: 14px;
    }
    .whyus-card{
        width: 100%;
        max-width: 500px;
        min-height: 300px;
        gap: 30px;
    }
    .whyus-card h3{
        font-size: 20px;
    }
    .whyus-card p{
        font-size: 15px;
    }
    .whyus-card button{
        font-size: 15px;
    }
}